<div class="title">Quản lý Thanh Toán</div>
<p-table #dt [columns]="cols" [value]="payments" (onRowSelect)="onRowSelect($event)" selectionMode="single"
    [(selection)]="selectedpayment" dataKey="stt" autoLayout="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th class="lichsu">Lịch Sử Khám Chữa</th>
            <th class="thaotac">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
                    label="Xem" (click)="xem()"></button>
            </td>
            <td>
                <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
                    label="Sửa" (click)="sua()"></button>
                <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
                    label="Xóa" (click)="xoa()"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="thaoTac">
    <button class="xuatExcel ui-button-success" pButton type="button" label="All Data" (click)="dt.exportCSV()"
        style="float:left; background-color: #6b6b47; color: white;">Xuất ra file Excel</button>
</div>


<!-- Chi Tiết Thanh Toán - edit function -->
<p-dialog header='Chi Tiết Thanh Toán' [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    width="1000">
    <div class="ui-g ui-fluid" *ngIf='payment'>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-2"><label for="hoTen">Họ Tên*</label></div>
                <div class="ui-g-4" id="input"><input class="ui-inputtext" id="hoTen" [(ngModel)]='payment.hoTen'></div>
            </div>
            <!-- <div class="ui-g-10"><input class="ui-inputtext" id="hoTen" [(ngModel)]='payment.hoTen'></div> -->
            <div class="ui-g-6">
                <div class="ui-g-2"><label for="soDienThoai">SĐT*</label></div>
                <div class="ui-g-4" id="input"><input class="ui-inputtext" id="soDienThoai"
                        [(ngModel)]='payment.soDienThoai'></div>
            </div>
            <!-- <div class="ui-g-10"><input class="ui-inputtext" id="soDienThoai" [(ngModel)]='payment.soDienThoai'>
            </div> -->
            <!-- <input class="ui-inputtext" placeholder="Họ Và Tên" id="hoTen" [(ngModel)]='payment.hoTen' /> -->
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2"><label for="chiTiet">Chi tiết khám chữa*</label></div>
            <div class="ui-g-10"><textarea rows="6" cols="60" placeholder="Chi Tiết Khám Chữa" id="chiTiet"
                    [(ngModel)]='payment.chiTiet'></textarea></div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2"><label for="dichVu">Dịch vụ đã sử dụng*</label></div>
            <div class="ui-g-10">
                <div class="them">
                    <button class="ui-button-info" style="background-color: #6b6b47; color: white;" pButton
                        type="button" iconPos="left" label="Thêm Dịch Vụ" (click)="them()"></button>
                </div>
                <p-table #dt [columns]="cols3" [value]="payments" (onRowSelect)="onRowSelect($event)"
                    selectionMode="single" [(selection)]="selectedpayment" dataKey="stt" autoLayout="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-4"><label>Tổng phí dịch vụ dự kiến</label></div>
                <div class="ui-g-2"><input class="ui-inputtext" id="phiDichVu" [(ngModel)]='payment.phiDichVu'></div>
            </div>
        </div>
        <div class="ui-g-12" id="giamgia" >
            <div class="div">
                <div class="labelin"><label for="">Giảm giá tiền</label></div>
                <div class="inputin"><input class="ui-inputtext"></div>
            </div>
            <div class="div">
                <div class="labelin"><label for="">Giảm %</label></div>
                <div class="inputin"><input class="ui-inputtext"></div>
            </div>
            <div class="div">
                <div class="labelin"><label for="">Lý do giảm giá</label></div>
                <div class="inputin">
                    <textarea rows="6" cols="30" placeholder="Lý do giảm giá" class="ui-inputtextarea">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2"><label for="">Tổng chi phí</label></div>
            <div class="ui-g-6">VNĐ</div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-4"><label for="">Thanh Toán*</label></div>
                <div class="ui-g-2">VNĐ</div>
            </div>
            <div class="ui-g-6">
                <div class="ui-g-4"><label for="">Phí Còn nợ</label></div>
                <div class="ui-g-2">VNĐ</div>
            </div>
        </div>
        <div class="ui-g-12" disabled>
            <div class="ui-g-6">
                <div class="ui-g-3"><label for="">Phí đã thanh toán</label></div>
                <div class="ui-g-3">VNĐ</div>
            </div>
        </div>
    </div>



    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button class="ui-button-success" style="background-color: #6b6b47; color: white; " pButton type="button"
                (click)="save()" label="Lưu"></button>
            <button class="ui-button-warning" style="background-color: #6b6b47; color: white; " pButton type="button"
                (click)="delete()" label="Xóa"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- lịch sử khám chữa  -->
<p-dialog header='Lịch sử khám chữa' [(visible)]="displayDialogls" [responsive]="true" showEffect="fade" [modal]="true"
    width="1000">
    <div class="ui-g ui-fluid" *ngIf='payment'>
        <!-- <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="ghiChu">Ghi Chú*</label>
            </div>
            <div class="ui-g-8">
                <textarea rows="6" cols="30" placeholder="Ghi Chú" class="ui-inputtextarea" id="ghiChu" [(ngModel)]='group.ghiChu'></textarea>
            </div>
        </div> -->
        <p-table #dt [columns]="cols2" [value]="payments" (onRowSelect)="onRowSelect($event)" selectionMode="single"
            [(selection)]="selectedpayment" dataKey="stt" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button class="ui-button-success" style="background-color: #6b6b47; color: white; " pButton type="button"
                (click)="save()" label="Lưu"></button>
            <button class="ui-button-warning" style="background-color: #6b6b47; color: white; " pButton type="button"
                (click)="delete()" label="Xóa"></button>
        </div>
    </p-footer>
</p-dialog>